/*written by Manuel Bieri, 2020*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", serif;
    margin: 0;
}

.main {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #f8ffff;
}

.navbar {
    list-style-type: none;
    width: 100%;
    margin: auto;
    padding: 0;
    overflow: auto;
    background-color: lightgray;
}

.navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 12px;
    width: 20%;
}

@media screen and (max-width: 750px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .main {
        width: 100%;
    }
}

.navbar a:active {
    color: white;
    background: #8d8d8d;
}

.navbar a:hover {
    color: white;
    background: #8d8d8d;
}

.active {
    background-color: #8d8d8d;
}

.content {
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    min-height: 93vh;
}

.footer {
    width: 104%;
    background-color: lightgray;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -2%;
    padding: 6px;
}
