/*written by Manuel Bieri, 2020*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", serif;
    margin: auto;
    overflow-y: scroll;
}

.main {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
}

.navbar {
    list-style-type: none;
    width: 100%;
    margin: auto;
    padding: 0;
    overflow: auto;
    background-color: lightgray;
}

.navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 12px;
    width: 20%;
    font-size: 23px;
}

.navbar a:active {
    color: white;
    background: #8d8d8d;
}

.navbar a:hover {
    color: white;
    background: #8d8d8d;
}

.active {
    background-color: #8d8d8d;
}

.content {
    margin: 0 2%;
}

.footer {
    width: 100%;
    background-color: lightgray;
    text-align: center;
    margin: 0;
    padding: 6px;
    position: absolute;
    bottom: 0;
}

.nimg {
    height: 17px;
}

.fsimg {
    width: 80%;
    display: block;
    margin: auto;
    padding-bottom: 6%;
}

@media screen and (max-width: 690px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }

    .main {
        width: 100%;
    }
}