/*written by Manuel Bieri, 2020*/

* {box-sizing: border-box}

body {
    font-family: "Courier New", serif;
    margin: 0;
}

.main {
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: #f8ffff;
}

.navbar {
    list-style-type: none;
    width: 100%;
    margin: auto;
    padding: 0;
    overflow: auto;
    background-color: lightgray;
}

.navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 12px;
    width: 20%;
}

@media screen and (max-width: 750px){
    .navbar a{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}

.navbar a:active {
    color: white;
    background: #8d8d8d;
}

.navbar a:hover {
    color: white;
    background: #8d8d8d;
}

.active {
    background-color: #8d8d8d;
}

.content {
    margin: 2%;
}

.footer {
    width: 80%;
    background-color: lightgray;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 10%;
    padding: 6px;
}
