/*written by Manuel Bieri, 2020*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", serif;
    margin: auto;
    overflow-y: scroll;
    background-color: #faf2f1;
}

.main {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
}

.navbar {
    list-style-type: none;
    width: 100%;
    margin: auto;
    padding: 0;
    overflow: auto;
    background-color: lightgray;
}

.navbar a {
    color: black;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 12px;
    width: 20%;
    font-size: 22px;
}

.navbar a:active {
    color: white;
    background: #8d8d8d;
}

.navbar a:hover {
    color: white;
    background: #8d8d8d;
}

.active {
    background-color: #8d8d8d;
}

.content {
    margin: 0 2%;
    font-family: Arial, sans-serif;
    font-size: 18px;

}

.content p {
    margin: 0;
    padding-bottom: 3%;
    padding-top: 1%;
}

.footer {
    width: 100%;
    background-color: lightgray;
    text-align: center;
    margin: 0;
    padding: 6px;
    position: absolute;
    bottom: 0;
}

.nimg {
    height: 15px;
}

.fsimg {
    width: 100%;
    display: block;
    margin: auto;
}

.caption {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 10px;
    font-style: italic;

}

@media screen and (max-width: 690px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }

    .main {
        width: 100%;
    }
}