---
title: About
description: Here you can find details about the professional and educational career of Manuel Bieri.
layout: default
---

<h5 class="home-page-heading">Professional and Educational Career</h5>
<div class="container-fluid mx-0 my-5 p-0">
    <ul class="timeline">
        {% for item in site.data.timeline %}
        <li>
            <div class="direction-{{item.side}}">
                <div class="flag-wrapper">
                    <span class="flag">{{item.title}}</span>
                    <span class="time-wrapper"><span class="time">{{item.timespan}}</span></span>
                </div>
                <div class="desc">
                    {{item.description}}
                    <a href="{{item.link}}" target="_blank"><i class="bi-box-arrow-up-right link-icon"></i></a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


<h5 class="home-page-heading">Language and Tools</h5>
With the following tools I am currently best, as I used them in my projects:
<div class="skill-container">
        {% for item in site.data.languages %}
        {% if item.skill == "1" %}
            <a href="{{ item.link }}" target="_blank" rel="noreferrer" class="skill-link">
                <img src="{{ item.icon }}" alt="{{ item.name }}" class="skill-icon"/>
            </a>
        {% endif %}
        {% endfor %}
</div>


Additional languages and tools I have a basic understanding of or I am currently learning:
<div class="skill-container">
    {% for item in site.data.languages %}
    {% if item.skill == "2" %}
    <a href="{{ item.link }}" target="_blank" rel="noreferrer" class="skill-link">
        <img src="{{ item.icon }}" alt="{{ item.name }}" class="skill-icon"/>
    </a>
    {% endif %}
    {% endfor %}
</div>