---
title: About
description: Here you can find details about the professional and educational career of Manuel Bieri.
layout: content
---
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

<h5 class="home-page-heading">Professional and Educational Career</h5>
<div class="container-fluid mx-0 my-5 p-0">
    <ul class="timeline">
        {% for item in site.data.timeline %}
        <li>
            <div class="direction-{{item.side}}">
                <div class="flag-wrapper">
                    <span class="flag">{{item.title}}</span>
                    <span class="time-wrapper"><span class="time">{{item.timespan}}</span></span>
                </div>
                <div class="desc">
                    {{item.description}}
                    <a href="{{item.link}}" target="_blank"><i class="bi-box-arrow-up-right link-icon"></i></a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


<h5 class="home-page-heading">Language and Tools</h5>
With the following tools I am currently best, as I used them in my projects:
<ul class="list-inline">
    {% for item in site.data.languages %}
    {% if item.skill == "1" %}
    <li class="list-inline-item skill-icon">
        <a href="{{ item.link }}" target="_blank" rel="noreferrer">
            <img src="{{ item.icon }}" alt="{{ item.name }}" width="40" height="40"/>
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

Additional languages and tools I have a basic understanding of or I am currently learning:
<ul class="list-inline">
    {% for item in site.data.languages %}
    {% if item.skill == "2" %}
    <li class="list-inline-item skill-icon">
        <a href="{{ item.link }}" target="_blank" rel="noreferrer">
            <img src="{{ item.icon }}" alt="{{ item.name }}" width="40" height="40"/>
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>