---
title: Home
layout: default
---
<h2 class="home-page-heading h2 my-3">Welcome to my Website</h2>
<hr class="border-2 border-top border-dark">

<p class="text-content">
I am a master student in economics and research assistant at the institute of information system of the university Bern.
My main interests are in microeconomics such as innovation and industrial organization and information systems about the digital transformation and digital publication of legal content. Currently, I am learning the Swift language and the corresponding GUI-framework SwiftUI. Additionally, for my most recent
project I use Dynare and Matlab.
</p>


<h2 class="home-page-heading h2 mt-5 mb-3" id="experience">Experience</h2>
<hr class="border-2 border-top border-dark">

<div class="accordion accordion-flush" id="accordionExperience">
    {% for item in site.data.timeline %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingExperience{{item.id}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExperience{{item.id}}" aria-expanded="true" aria-controls="collapse{{item.id}}">
                {{item.title}}
            </button>
        </h2>
        <div id="collapseExperience{{item.id}}" class="accordion-collapse collapse" aria-labelledby="heading{Experience{item.id}}" data-bs-parent="#accordionExperience">
            <div class="accordion-body">
                <p>
                    <em>
                        <span style="float: left">{{item.job_title}}</span>
                        <span style="float: right">{{item.timespan}}</span>
                    </em>
                </p>
                <br>
                <p class="text-content">
                {{item.description}}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h2 class="home-page-heading h2 mt-5 mb-3">Programming Languages and Tools</h2>
<hr class="border-2 border-top border-dark">

<div class="accordion accordion-flush mb-5" id="accordion{{category.short}}">
    {% for category in site.data.categories_pl_tools %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{category.short}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{category.short}}" aria-expanded="true" aria-controls="collapse{{category.short}}">
                {{category.title}}
            </button>
        </h2>
        <div id="collapse{{category.short}}" class="accordion-collapse collapse" aria-labelledby="heading{{category.short}}" data-bs-parent="#accordion{{category.short}}">
            <div class="accordion-body">
                {% for item in site.data.languages %}
                    {% if item.category == category.short %}
                        <a href="{{ item.link }}" target="_blank" rel="noreferrer" class="skill-link">
                            <img src="{{ item.icon }}" alt="{{ item.name }}" class="skill-icon"/>
                        </a>
                    {% endif %}
                {% endfor %}
                {% if category.short == "stat" %}
                <p class="mt-2">
                    Further statistical software I worked with are <a href="https://www.stata.com/">Stata<i class="bi-box-arrow-up-right link-icon"></i></a> and
                    <a href="https://www.smartpls.com/">SmartPLS<i class="bi-box-arrow-up-right link-icon"></i></a>.
                </p>
                {% endif %}
                {% if category.short == "pl" %}
                <p class="mt-2">
                    Additionally, I worked with <a href="https://gtoolkit.com/">Glamorous Toolkit<i class="bi-box-arrow-up-right link-icon"></i></a> (<a href="https://pharo.org/">Pharo<i class="bi-box-arrow-up-right link-icon"></i></a>).
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

