---
title: Home
layout: default
---
<h5 class="home-page-heading">Welcome to my Website!</h5>

<ul class="list-group list-group-flush">
    <li class="list-group-item">🌱 I’m currently learning <b>Swift and SwiftUi</b></li>
    <li class="list-group-item">👨‍💻 All of my projects are available at <a href="https://github.com/manuelbieri">github.com/manuelbieri<i class="bi-box-arrow-up-right link-icon"></i></a>
    </li>
    <li class="list-group-item">📫 Reach me at <a href="mailto:mail@manuelbieri.ch">mail@manuelbieri.ch</a> or on <a href="https://github.com/manuelbieri">GitHub<i class="bi-box-arrow-up-right link-icon"></i></a>
    </li>
    <li class="list-group-item">📄 Know about my <a href="#experience">experiences</a>
    </li>
    <li class="list-group-item">😄 Pronouns: he/him
    </li>
</ul>

<h5 class="home-page-heading mt-5" id="experience">Experience</h5>

<div class="container-fluid mx-0 my-5 p-0">
    <ul class="timeline">
        {% for item in site.data.timeline %}
        <li>
            <div class="direction-{{item.side}}">
                <div class="flag-wrapper">
                    <span class="flag">{{item.title}}</span>
                    <span class="time-wrapper"><span class="time">{{item.timespan}}</span></span>
                </div>
                <div class="desc">
                    {{item.description}}
                    <a href="{{item.link}}" target="_blank"><i class="bi-box-arrow-up-right link-icon"></i></a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


<h5 class="home-page-heading mt-5">Programming Languages and Tools</h5>

The following incomplete list contains selected languages and tools I am most familiar with:
<div class="skill-container mt-4 mb-4">
    {% for item in site.data.languages %}
    {% if item.skill == "1" %}
    <a href="{{ item.link }}" target="_blank" rel="noreferrer" class="skill-link">
        <img src="{{ item.icon }}" alt="{{ item.name }}" class="skill-icon"/>
    </a>
    {% endif %}
    {% endfor %}
</div>

Additional languages and tools I have a basic understanding of, or I am currently learning are included in the following list:
<div class="skill-container mt-4">
    {% for item in site.data.languages %}
    {% if item.skill == "2" %}
    <a href="{{ item.link }}" target="_blank" rel="noreferrer" class="skill-link">
        <img src="{{ item.icon }}" alt="{{ item.name }}" class="skill-icon"/>
    </a>
    {% endif %}
    {% endfor %}
</div>

<p class="mt-4">
    Further languages and tools I worked with are <a href="https://www.stata.com/">Stata<i class="bi-box-arrow-up-right link-icon"></i></a>,
    <a href="https://www.smartpls.com/">SmartPLS<i class="bi-box-arrow-up-right link-icon"></i></a> and
    <a href="https://gtoolkit.com/">Glamorous Toolkit<i class="bi-box-arrow-up-right link-icon"></i></a> (<a href="https://pharo.org/">Pharo<i class="bi-box-arrow-up-right link-icon"></i></a>)
</p>

<!--
<div id="carouselIndicators" class="carousel slide index-carousel mt-5 mb-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
    <li data-target="#carouselIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
        {% for item in site.data.carousel %}
        <div class={% if item.image == "img1" %} "carousel-item active" {% else %} "carousel-item" {% endif %}>
          <img class="d-block w-100" src="assets/images/img/{{ item.image }}.jpeg" alt="{{ item.title }}">
          <div class="carousel-caption d-none d-md-block">
              <h5>{{ item.title }}</h5>
          </div>
        </div>
        {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>
-->