body {
    font-family: "Courier New", serif;
}

.navbar li a {
    text-decoration: none;
}

.navbar li{
    display: inline;
}

.navbar {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
