@media screen and (max-width: 1100px) and (min-width: 768px) {
    .container {
        width: 75%;
        margin: auto;
    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: auto;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        width: 60%;
        margin: auto;
    }
}

.content {
    width: 96%;
    padding: 30px;
}

.navbar {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.articleTitle {
    text-align: center;
}

.caption {
    padding-top: 15px;
    padding-bottom: 20px;
}