@media screen and (max-width: 1100px) {
    .container {
        width: 95%;
        margin: auto;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        width: 60%;
        margin: auto;
    }
}

.navbar {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.articleTitle {
    text-align: center;
}