
<nav class="navbar navbar-expand-lg navbar-light  bg-light">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <span class="navbar-brand">Manuel Bieri</span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mx-auto">
            {% for item in site.data.pages %}
                 <a class=" nav-item nav-link" href="{{ site.baseurl }}{{ item.link }}" {% if page.url == item.link %}style="color: black;"{% endif %}>
                {{ item.display }}</a>
            {% endfor %}
        </div>
    </div>
</nav>
