<h5 class="home-page-heading">Welcome to my Website! I am an economics student and programming enthusiast from Switzerland</h5>

<ul class="list-unstyled">
  <li>
    🌱 I’m currently learning Swift and Ruby
  </li>
  <li>
    👨‍💻 My projects are available at: <a href="https://github.com/manuelbieri">github.com/manuelbieri</a>
  </li>
</ul>

Below you can see my (recent) contributions/activities on github:
<img src="https://github-readme-streak-stats.herokuapp.com/?user=manuelbieri" class="github-stats" alt="manuelbieri" />