
<div class="my-4 mt-0 m-0">
    <div class="card mx-auto sidebar-card">
        <img class="card-img-top align-content-center justify-content-center" src="assets/images/head.JPG" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">{{site.data.info.first}} {{site.data.info.second}} {{site.data.info.last}}</h4>
            <ul class="list list-unstyled m-0">
                <li class="list-item">
                    <a href="{{site.data.info.github.link}}" class="social-link">
                        <i class="bi-github social-icon"></i>
                        @{{site.data.info.github.name}}
                    </a>
                </li>
                <li class="list-item">
                    <a href="{{site.data.info.twitter.link}}" class="social-link">
                        <i class="bi-twitter social-icon"></i>
                        @{{site.data.info.twitter.name}}
                    </a>
                </li>
                <li class="list-item">
                    <a href="{{site.data.info.stackoverflow.link}}" class="social-link">
                        <i class="bi-stack-overflow social-icon"></i>
                        @{{site.data.info.stackoverflow.name}}
                    </a>
                </li>
                <li class="list-item">
                    <a href="mailto:{{site.data.info.mail}}" class="social-link">
                        <i class="bi-envelope social-icon"></i>
                        {{site.data.info.mail}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
