
// Overwrite bootstrap variables
$font-size-base:                1.2rem !default;
$link-color:                    black !default;
$card-cap-padding-x:            8px;
$spacer:                        0.9rem !default;
$input-btn-focus-width:         .13rem !default;
$card-width:                    335px;
$x-padding:                     20px;
$x-padding-large:               50px;
$x-padding-small:               15px;
$accordion-button-color:        black;
$accordion-button-bg:           white;
$accordion-button-active-color: $accordion-button-color;
$accordion-button-active-bg:    $accordion-button-bg;
$icon-size:                     20px;
$font-weight:                   300;
$font-weight-bold:              600;

.home-page-heading {
  text-align: center;
  margin-bottom: 1em;
  font-size: larger;
}

.main {
  display: flex;
  margin-top: 3.5em !important;
}

.navbar-brand {
  font-weight: bold;
}

.content {
  min-width: $card-width;
  float: left;
  padding-right: $x-padding !important;
  padding-left: $x-padding !important;
  flex: 1 1;
}

.text-content {
  text-align: justify;
  font-weight: $font-weight !important;
}

.limited-span {
  width: 90%;
  margin: auto;
}

.table {
  margin: auto !important;
  width: 70% !important;
}

.sidebar-card {
  width: $card-width;
  float: left;
  margin-bottom: 10px !important;
  margin-right: $x-padding !important;
}

.accordion-button {
  font-weight: $font-weight-bold !important;
}

.accordion-body {
  font-weight: $font-weight !important;
}

@media screen and (min-width: 1461px) {
  .limited-span {
    width: 70%;
  }
}

@media screen and (max-width: 1199px) {
  .main {
    display: inline;
  }

  .content {
    width: 100%;
    padding-right: $x-padding-large !important;
    padding-left: $x-padding-large !important;
  }

  .limited-span {
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    margin: 0 auto !important;
    position: relative;
    left: 29px;
  }

  .navbar-nav {
    text-align: center;
  }

  .limited-span {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 1199px){
  .sidebar-card {
    width: 80%;
    max-width: 480px;
    margin: auto !important;
    padding: 0 !important;
    float: none;
  }

  .sidebar-image{
    width: 200px;
  }
}

@media screen and (max-width: 575px) {
  .sidebar-card {
    width: $card-width;
    float: none;
    margin-bottom: 10px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media screen and (max-width: 500px) {
  .content {
    width: 100%;
    padding-right: $x-padding-small !important;
    padding-left: $x-padding-small !important;
  }
}

.profile-img {
  height: 250px;
  width: 190px;
}

.social-icon {
  font-size: $font-size-base;
  color: black;
  padding-right: 5px;
  height: $icon-size !important;
  width: $icon-size+5px !important;
}

.social-link {
  text-decoration: none;
  vertical-align: text-top;
}

.link-icon {
  color: black;
  font-size: 0.825em;
  padding-left: 3px;
}

.link-img {
  position: relative;
  top: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.index-carousel {
  max-width: 500px;
  margin: auto;
  float: none;
}

.skill-icon {
  margin-bottom: 0.4em;
  width:40px;
  height:40px;
}

.skill-container {
  text-align: center;
}

.skill-link{
  text-decoration : none;
}

.card-title {
  font-weight: $font-weight-bold;
}

.post-card {
  width: 100%;
  margin-bottom: 10px;
}

.post-date {
  display: block;
  font-size: 0.7*$font-size-base;
  margin-bottom: 10px;
}

.post-subtitle {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 1.05*$font-size-base;
  font-weight: $font-weight;
}


.post-card-text {
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (max-width: 480px){
  .repo-card {
    width: 90%;
  }
}

.footer {
  font-size: 0.7*$font-size-base;
}

@import "bootstrap/bootstrap";