<!DOCTYPE html>
<html lang="en">
<head>
    {%- include header.html -%}
    {% seo %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "{{ page.title }}",
                "item": "{{ site.url }}{{ page.url }}"
            }]
        }
    </script>

</head>

<body>
<div class="d-flex flex-column min-vh-100">

    {%- include navbar.html -%}

    <div class="container-fluid p-0 mt-3 main">
        <div class="content">
            <div class="limited-span">
                <h1 class="page-heading">{{ page.title }}</h1>
                {{ content }}
            </div>
        </div>
        <div class="sidebar-card">
            {%- include sidebar.html -%}
        </div>
    </div>

    {%- include footer.html -%}

</div>

    {%- include scripts.html -%}

</body>
</html>
