<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.title}} | Manuel Bieri</title>
  {%- include header.html -%}
  <meta itemprop="description" name="description" content="{{ page.description }}" />
  {% seo %}
</head>

<body>
<div class="d-flex flex-column min-vh-100">

  {%- include navbar.html -%}

  <div class="container-fluid p-0 mt-3 main">
      <div class="content">
        <h1 class="page-heading">{{ page.title }}</h1>
        {{ content }}
      </div>
      <div class="sidebar-card">
        {%- include sidebar.html -%}
      </div>
  </div>

  {%- include footer.html -%}

</div>
</body>
</html>
