<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.title}} | Manuel Bieri</title>
  {%- include header.html -%}
  <meta itemprop="description" name="description" content="{{ page.description }}" />
  {% seo %}
</head>

<body>
<div class="d-flex flex-column min-vh-100">

  {%- include navbar.html -%}

  <main class="page-content" aria-label="Content">
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-xl-9">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}
        </div>
        <div class="col-xl-3">
          {%- include sidebar.html -%}
        </div>
      </div>
    </div>
  </main>

  {%- include footer.html -%}

</div>
</body>
</html>
